@model ProductViewModel
<h1>Add Product</h1>
<form method="post">
    
    <div asp-validation-summary="All"></div>
    <div class="mb-2">
        <input class="form-control" type="text" placeholder="Name" asp-for="Name"/>
            <span style="color: red" asp-validation-for="Name"></span>
    </div>
    <input class="form-control" type="text" placeholder="Price" asp-for="Price"/>
    <span style="color: red" asp-validation-for="Price"></span>
    <input class="form-control"  type="text" placeholder="Brand" asp-for="Brand"/>
    <span style="color: red" asp-validation-for="Brand"></span>
    <input class="form-control"  type="text" placeholder="Quantity" asp-for="Quantity"/>
    <span style="color: red" asp-validation-for="Quantity"></span>

    <input  class="form-control" type="number" placeholder="Rate" asp-for="Rate"/>
    <span style="color: red" asp-validation-for="Rate"></span>

    <textarea  class="form-control"  asp-for="Description" rows="3" cols="20"></textarea>
    <span style="color: red" asp-validation-for="Description"></span>


    <button type="submit">Save</button>
</form>